openapi: 3.0.0
info:
  title: Chatnode API
  version: 0.1.0

servers:
  - url: https://shantichat.com/api/v1

paths:
  /contacts:
    get:
      summary: "Returns list of my contacts"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /contacts/{contactUid}:
    get:
      summary: "Returns contact by UID"
      parameters:
        - name: contactUid
          in: path
          required: true
          schema:
            type: string
            format: nanoid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /contacts/{contactUid}/icon:
    get:
      summary: "Returns contact icon in full resolution"
      parameters:
        - name: contactUid
          in: path
          required: true
          schema:
            type: string
            format: nanoid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'

  /contacts/me:
    get:
      summary: "Returns self contact"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /contacts/me/icon:
    get:
      summary: "Returns self icon in full resolution"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
    delete:
      summary: "Remove self icon"
      responses:
        '200':
          description: OK

#  /media:
#    get:
#      summary: "Returns list of my media"
#
#  /media/{mediaUid}:
#    get:
#      summary: "Returns media by UID"
#
#  /conversations:
#  /conversations/{conversationUid}:
#  /conversations/{conversationUid}/media:
#  /conversations/{conversationUid}/participants:
#  /conversations/{conversationUid}/participants/{contactUid}:
#  /conversations/{conversationUid}/messages:
#  /conversations/{conversationUid}/messages/{messageUid}:
#  /conversations/{conversationUid}/messages/{messageUid}/read:
#  /conversations/{conversationUid}/messages/{messageUid}/reactions:

components:
  schemas:

    BaseEntity:
      title: 'Parent of most important objects'
      type: object
      properties:
        uid:
          type: string
          format: nanoid
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        deleted:
          type: bool
          readOnly: true

    Image:
      title: 'Image for preview'
      type: object
      properties:
        url:
          type: string
          readOnly: true
        width:
          type: int
          readOnly: true
        height:
          type: int
          readOnly: true
        blurhash:
          type: string
          readOnly: true
      required:
        - url
        - width
        - height

    User:
      title: 'User object'
      allOf:
        - $ref: '#/components/schemas/BaseEntity'
        - type: object
          properties:
            name:
              type: string
            description:
              type: string
            icon:
              $ref: '#/components/schemas/Image'
            timezone:
              type: string
            last_online_at:
              type: string
              format: date-time
              readOnly: true

# TODO:
#  /invitations/invite:
#
#// ## Projects
#// /api/v1/spaces
#// /api/v1/spaces/[uid]
#//
#// /api/v1/spaces/[uid]/members
#// /api/v1/spaces/[uid]/members/me
#// /api/v1/spaces/[uid]/members/[uid]
#//
#// /api/v1/spaces/[uid]/conversations
#// /api/v1/spaces/[uid]/conversations/[uid]
#//
#// /api/v1/spaces/[uid]/conversations/[uid]/media
#//
#// /api/v1/spaces/[uid]/conversations/[uid]/participants
#// /api/v1/spaces/[uid]/conversations/[uid]/participants/[uid]
#//
#// /api/v1/spaces/[uid]/conversations/[uid]/messages
#// /api/v1/spaces/[uid]/conversations/[uid]/messages/[uid]
#// /api/v1/spaces/[uid]/conversations/[uid]/messages/[uid]/read
#// /api/v1/spaces/[uid]/conversations/[uid]/messages/[uid]/reactions
